			*
				{
					box-sizing: border-box;
					margin: 0 0 0 0;
					background-color: white;
				}
			header
				{
					width: 100vw;
					justify-content: center;
					font-family: roboto;
					font-style: normal;
					font-weight: 700;
					font-size: 24px;
					line-height: 28px;
					display: flex;
					background: #84DCC6;
					border-radius: 5px;
					height: 59px;
					padding-bottom: 16px;
					padding-top: 15px;
					text-align: center;
					color: #6C6B6B;
				}
			label
				{
					font-family: Roboto;
					font-style: normal;
					font-weight: normal;
					font-size: 24px;
					line-height: 89px;
					color: #606060;
					margin-left: 30px;
					
				}
			textarea
				{
					display: flex;
					margin-left: 30px;
					margin-right: 30px;
					height: 172px;
					background: #F0EBEB;
					box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
					padding-top: 15px;
					padding-left: 5px;
					border-radius: 5px;
				}
			.setanome
				{
					
					width: 40px;
					height: 40px;

				}
			button
				{
					display: block;
					position: relative;
					top: 45px;
					left: 220px;
					border: 0;
				}