 *
	{
		margin: 0;
		box-sizing: border-box;
	}
 body
	{
		background-color: #84DCC6;
		text-align: center;
		font-family: Roboto, Arial, Segoe UI, Tahoma, sans-serif;
	}
header
	{

		border-radius: 5px;
		background-color: white;
	}
ul
	{

		border-bottom: 15px solid rgb(82, 86, 89, 0.9);
		opacity: 0.9;
	}
.nav a
	{
		justify-content: center;
		color: #6C6B6B;
	}
.container-fluid
	{
		display: flex;
		flex-direction: row;
		background-color: rgb(82, 86, 89, 0.9);
		padding: 0;
	}
.fstimg
	{
		width: 60%;
		border-right: 7px rgb(82, 86, 89, 0.9) solid;
		border-bottom: 7px rgb(82, 86, 89, 0.9) solid;
	}
.article
	{
		color: white;
		font-size: 20px;
		line-height: 2;
		border-bottom: 7px #84DCC6 solid;
		padding-left: 10px;
		padding-right: 10px;
	}
.firstline
	{
		padding-top: 30px;
		padding-bottom: 30px;
		font-weight: 800;
		font-size: 29px;
	}
.midline
	{
		display: block;
		text-align: center;
		height: 80px;
		font-size: 27px;
		background-color: #F0EBEB;
		padding: 14px;
		border: 10px solid rgb(82, 86, 89, 0.9);
		margin-bottom: 15px;
	}
a
	{
		color: black;
	}
a:hover
	{
		text-decoration: none;
		color: rgb(82, 86, 89, 0.9);;
	}
.containerend
	{
		display: flex;
		background-color: rgb(82, 86, 89, 0.9);
		height: 200pxpx;
		margin: 50px 35px;
		border-radius: 6px;
		padding: 20px;
	}
.article2
	{
		color: white;
		font-size: 24px;
	}
.seconline
	{
		font-size: 27px;

	}
