			*
				{
					box-sizing: border-box;
					font-family: Roboto, Arial;
					margin: 0 0 0 0;
				}
			form
				{
					height: 100vh;
					width: 100%;
					padding: 3px;
				}
			.container
				{
					display: flex;
					flex-direction: column;
					align-items: center;
				}
			header
				{
					background: #84DCC6;
					width: 100%;
					text-align: center;
					font-size: 24px;
					font-weight: 700;
					border-radius: 5px;
					height: 59px;
					padding-bottom: 16px;
					padding-top: 15px;
					color: #6C6B6B;
				}
			.relative1
				{
					position: relative;
					right: 100px;
				}
			label
				{
					font-size: 24px;
					line-height: 89px;
					right: 100px;
					color: #606060;
				}
			textarea
				{
					height: 172px;
					background: #F0EBEB;
					border-radius: 5px;
					border: none;
					box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
				}
			.setanome
				{
					width: 40px;
					height: 40px;	
				}
			button
				{
					border: 0;
					background: white;
				}
			.relative2
				{
					position: relative;
					left: 100px;
					top: 30px;
				}
			@media (max-width: 320px)
				{
					textarea
						{
							width: 230px;
						}
					.relative2
						{
							left: 75px;
						}
				}
