.navbar{
    background-color: #84DCC6 !important;
}

.navbar-dark .navbar-nav .nav-link,.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover{ 
    color: white !important;
    font-size: 94%;

}

.button.navbar-toggler{
    background-color: #84DCC6;
    
}

.mr-auto{
    display: flex;
    justify-content: center;
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    height: 100%;
    
}

.nav-item{
    border-radius: 20px;
    background-color: #84DCC6;
    border-color: white;
    border: 2px;
    width: 100%;
    text-align: center;
}



li.entrar {
    background-color: #559c8b;
}

ul.navbar-nav{
    width: 100%;
}
